<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ZAB Departures</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">ZAB Departures</h1>
                <select (change)="changeAirport($event)">
                    <option *ngFor="let airport of airports" value={{airport}}>
                        {{airport}}
                    </option>}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <!--  
  _id: string;
  callsign: string;
  cid: string;
  realname: string;
  clienttype: string;
  frequency: string;
  latitude: number;
  longitude: number;
  altitude: number;
  groundspeed: number;
  planned_tascruise: number;
  planned_depairport: string;
  planned_altitude: number;
  planned_destairport: string;
  server: string;
  protrevision: string;
  rating: string;
  transponder: string;
  facilitytype: string;
  visualrange: number;
  planned_flighttype: string;
  planned_deptime: number;
  planned_actdeptime: number;
  planned_hrsenroute: number;
  planned_minenroute: number;
  planned_hrsfuel: number;
  planned_minfuel: number;
  planned_altairport: string;
  planned_remarks: string;
  planned_route: string;
  planned_depairport_lat: number;
  planned_depairport_lon: number;
  planned_destairport_lat: number;
  atis_message: string;
  time_last_atis_received: string;
  time_logon: string;
  heading: number;
  QNH_iHg: number;                                
                            -->
                            <tr>
                                <th>Callsign</th>
                                <th>Departure</th>
                                <th>Arrival</th>
                                <th>Logon Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients">
                                <td>{{client.callsign}}</td>
                                <td>{{client.planned_depairport}}</td>
                                <td>{{client.planned_destairport}}</td>
                                <td>{{client.time_logon | vatsimdate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>